@model List<Bill>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h2>Check your energy usage</h2>
<form method="post">
    <div>
        <label for="subarea">Subarea:</label>
        <select id="subarea" name="Subarea" required>
            <option value="Subarea 1" selected>Subarea 1</option>
            <option value="Subarea 2">Subarea 2</option>
            <option value="Subarea 3">Subarea 3</option>
        </select>
    </div>
    <div>
        <label for="electricity">Electricity:</label>
        <input type="number" step="any" id="electricity" name="Electricity" required />
    </div>
    <div>
        <label for="gas">Gas:</label>
        <input type="number" step="any" id="gas" name="Gas" required />
    </div>
    <div>
        <label for="carbon">Carbon:</label>
        <input type="number" step="any" id="carbon" name="Carbon" required />
    </div>
    <button type="submit">Submit</button>
</form>

<h2>Bill table</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Bill ID</th>
            <th>Subarea</th>
            <th>Electricity usage</th>
            <th>Gas usage</th>
            <th>Carbon emmission</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bill in Model)
        {
            <tr>
                <td>@bill.Id</td>
                <td>@bill.Subarea</td>
                <td>@bill.Electricity</td>
                <td>@bill.Gas</td>
                <td>@bill.Carbon</td>
            </tr>
        }
    </tbody>

</table>